<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893363075067-p3cnjdos3gu4ghq8e1k322e0drdbsmnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893363075067-p3cnjdos3gu4ghq8e1k322e0drdbsmnu</string>
	<key>API_KEY</key>
	<string>AIzaSyCk9SqLh3IrEim_t8oZh2OMbbgIhq4gIAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>893363075067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thena.skillmeet</string>
	<key>PROJECT_ID</key>
	<string>skillmeet-456</string>
	<key>STORAGE_BUCKET</key>
	<string>skillmeet-456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893363075067:ios:294d1af742aa9698</string>
	<key>DATABASE_URL</key>
	<string>https://skillmeet-456.firebaseio.com</string>
</dict>
</plist>